@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* --font-sans: "Arial", sans-serif; */
  --color-my-purple: hsla(279, 69%, 29%, 0.949);
  --color-my-blue: #134e68ec;
  --color-my-gray: #333436ed;
}

:root {
  --ui-radius: 0rem;
}

.dark {
  --ui-text: white;
  --ui-text-inverted: white;
}
